# Spring Boot Backend Environment Variables
PORT=8080

# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ecosphere?retryWrites=true&w=majority

# JWT Token Secret (256-bit Key)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000
